HELP.md
HELP_.md
ssh_key
ssh_key.pub

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### STS ###
.metadata
.plugins

/**/data
/**/html
/**/jenkins_home
/**/*.mp4
/**/*.pdf
/**/credentials.csv

# Node directories
node_modules
/**/node_modules/**